{% assign srcset = '' %}
{% assign common_image_path = include.image_path  | split: "-" | pop | join: "-" %}

{% for file in site.static_files %}
  {% if file.extname == ".jpg" and file.path contains common_image_path %} 
    {% assign file_size = file.path | split: "." | pop | join: "." | split: "-" | last %} 
    {% assign srcset = srcset | append: ", " | append: file.path | append: " " | append: file_size %}
  {% endif %}
{% endfor %}

{% if include.element == "source" %}
  <source 
    media="{{ include.media }}" 
    srcset="{{ srcset }}"
    {% if include.sizes %}
      sizes="{{ sizes }}"
    {% endif %}>
{% else %}
	<img srcset="{{ srcset }}"
	src="{{ include.image_path }}"
	{% if include.sizes %}
		sizes="{{ include.sizes }}"
	{% endif %}
	{% if include.alt %}
		alt="{{ include.alt }}"
	{% endif %}
	{% if include.title %}
		title="{{ include.title }}"
	{% endif %}
	/>
{% endif %}