{% assign asset_files = site.data.dynamic_assets["default"][include.type] %}
{% if site.data.dynamic_assets[layout.assets_group][include.type] %}
  {% assign asset_files = site.data.dynamic_assets[layout.assets_group][include.type]] %}
{% endif %}

{% for asset_file in asset_files %}
  {% if include.type == "css" %}
    <link rel="stylesheet" href="{{ asset_file }}" type="text/css" media="screen, projection" />
  {% else %}
    <script type="text/javascript" src="{{ asset_file }}"></script>
  {% endif %}
{% endfor %}